{% extends 'dogs/base.html' %}
{% load my_tags %}
{% block content%}
<form method="post" enctype="multipart/form-data" class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-header">
                {% if object %}
                Обновите данные собаки
                {% else %}
                Введите данные собаки!
                {% endif %}
            </div>
            <img class="card-img-top"
                 src="{{ object.photo|dogs_media }}" width="300" height="400"
                 alt="Card image cap">
            <div class="card-body">
                {% csrf_token %}
                {{ form.as_p}}
                <button type="submit" class="btn btn-outline-success">
                    Добавить
                </button>
            </div>
        </div>
    </div>
</form>
{% endblock %}