{% extends 'dogs/base.html' %}
{% load my_tags %}
{% block content %}
<div class="col-md-4">
    <div class="card mb-4 box-shadow">
        <img class="card-img-top"
             src="{{object.photo|dogs_media}}" width="300" height="320"
             alt="Card image cap">
        <div class="card-body">
            <p  class="card-text">Кличка: {{ object.name }}</p>
            <p  class="card-text">Порода: {{ object.breed.name }}</p><br>
            <span class="text-muted">Дата рождения: {{ object.birth_date|default:"-"}}</span><br>
            <span class="text-muted">Эл. почта хозяина: {{ object.owner|default:"Без хозяина"}}</span><br>
            <span class="text-muted">Имя хозяина: {{ object.owner.first_name|default:"Не указано"}}</span><br>
            <span class="text-muted">Телефон хозяина: {{ object.owner.phone|default:"Не указано"}}</span><br>
            <span class="text-muted">Телега хозяина: {{ object.owner.telegram|default:"Не указано"}}</span><br>
            <span class="text-muted">Просмотры: {{ object.views }}</span><br>

        </div>
        <div class="card-footer">
        </div>
    </div>
</div>


{% endblock %}